<!doctype html>
<html lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    {% include 'snippets/footer.njk' %}

  </body>

</html>
