{%- if title == "Contact" %}
{% include 'snippets/contact-php.html' %}
{%- endif %}
<!doctype html>
<html lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    {%- if title == 'Contact' or title == 'Support' or title == 'About' %}
      <main class="container py-5 min-fill-height eee-box-shadow2">
    {%- else %}
      <main class="container py-5 fill-height eee-box-shadow2">
    {%- endif %}
      <div class="row justify-content-center px-lg-5">
        <div class="col-12 col-lg-10">
          {% include 'snippets/maincontent.njk' %}
        </div>
      </div>
    </main>

    {% include 'snippets/footer.njk' %}

  </body>

</html>
