<!doctype html>
<html lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main class="container py-5 fill-height eee-box-shadow1">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          {% include 'snippets/maincontent.njk' %}
        </div>
      </div>
    </main>

    {% include 'snippets/footer.njk' %}

  </body>

</html>
