:root {
  --green-gradient: linear-gradient(to right bottom, #34ab00, #050);
  --green-gradient2: linear-gradient(to right bottom, hsl(102, 100%, 33%), hsl(111, 100%, 23%));
  --green-gradient3: linear-gradient(to bottom, hsl(105, 100%, 28%), hsl(114, 100%, 20%));
  --cu-gradient: linear-gradient(to right bottom, rgb(255, 186, 73), rgb(58, 40, 12));
  --cu-gradient2: linear-gradient(to right bottom, rgb(197, 145, 61), rgb(126, 98, 52));
  --eee-yellow: hsl(37deg 85.58% 70.54%);
}

body {
  letter-spacing:-.02rem;
}

.link-fancy {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link-fancy:before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  transform-origin: left;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, $primary 0, $primary 25%, transparent 0, transparent 50%, $primary 0, $primary 75%, transparent 0, transparent);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 400% 1px;
  transition: background-position 0.8s ease-in-out;
}

.link-fancy:hover:before {
  background-position: 100%;
}

.my-vh-1 {
  margin-top:1vh;
  margin-bottom:1vh;
}

.my-vh-2 {
  margin-top:2vh;
  margin-bottom:2vh;
}

.my-vh-3 {
  margin-top:3vh;
  margin-bottom:3vh;
}

.my-vh-4 {
  margin-top:5vh;
  margin-bottom:5vh;
}

.my-vh-5 {
  margin-top:8vh;
  margin-bottom:8vh;
}

.my-vh-6 {
  margin-top:14vh;
  margin-bottom:14vh;
}

.py-vh-1 {
  padding-top:1vh;
  padding-bottom:1vh;
}

.py-vh-2 {
  padding-top:2vh;
  padding-bottom:2vh;
}

.py-vh-3 {
  padding-top:3vh;
  padding-bottom:3vh;
}

.py-vh-4 {
  padding-top:5vh;
  padding-bottom:5vh;
}

.py-vh-5 {
  padding-top:8vh;
  padding-bottom:8vh;
}

.py-vh-6 {
  padding-top:14vh;
  padding-bottom:14vh;
}

.headline {
  // font-family: 'Days One';
  letter-spacing: 0.025em;
  line-height: 1.0;
  color: transparent;
  // background-image: url(/img/pcb01.svg);
  // background-clip: text;
}

.fill-height {
  min-height: calc(100vh - 64px);
}

.min-fill-height {
  min-height: calc(100vh - 64px - 225px);
}

.eee-green-grd {
  background-image: var(--green-gradient);
}

.eee-green-grd2 {
  background-image: var(--green-gradient2);
}

.eee-green-grd3 {
  background-image: var(--green-gradient3);
}

.eee-clip-text {
  background-clip: text;
  color: transparent;
}

.eee-green-grd-text {
  background-image: var(--green-gradient);
  background-clip: text;
  color: transparent;
}

.ggt {
  background-image: var(--green-gradient);
  background-clip: text;
  color: transparent;
}

.no-underline {
  text-decoration: none;
}

.bs-svg-size {
  height: 2.4em;
  width: 2.4em;

}

.bs-svg-color {
  color: var(--eee-yellow);
  fill: currentColor;
}

.yellow-text {
  color: var(--eee-yellow);
}

svg {
  fill: currentColor;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-case {
  text-transform: capitalize;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}


.navbar-nav {
  font-variant: small-caps;
  font-weight: 600;

  li:hover {
    text-decoration-line: underline;
    text-decoration-color:  green;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 2px;
  }
}

.landing-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 100%;
}

.landing-card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.landing-card:hover .card__side--back {
  transform: rotateY(0);
}

.card__side {
  height: 100%;
  transition: all 1.1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

.card__picture--2 {
  background-image: url(/img/pcb01.svg);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__heading {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 17.15rem;
  right: 0rem;
  width: 65%;
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, #34ab00, #050);
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__details {
  padding: 2rem;
}

.card__details ul {
  list-style-type: none;
  // width: 80%;
  padding: 0 2rem;
  margin: 0 auto;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #34ab00;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__heading-span--2 {
  background-image: var(--cu-gradient)
}

.bg-copper-fade {
  background-image: var(--cu-gradient);
}

.bg-copper-fade2 {
  background-image: var(--cu-gradient2);
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.text-Eyellow {
  color: rgba(255, 186, 73, var(--tw-text-opacity));
}

.card__picture--back {
  background-size: cover;
  background-blend-mode: screen;
}

.card__side--back-2 {
  background-image: url(/img/pcb01.svg);
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
  font-size: clamp(3rem, 20vw, 5rem);
  text-transform: uppercase;
  font-weight: 300;
}

.btn-lp.btn--white, .btn-lp.btn--white:link, .btn-lp.btn--white:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn-lp.btn--white:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
  background-color: white;
}

.btn--white {
  background-color: whitesmoke;
}

.benfits-bg {
  background-image: url(/img/pcb01.svg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color;
}

#benefits h2, #benefits h3 {
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 0.15em;
  font-variant: small-caps; 
}

.eee-box-shadow1 {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

@include media-breakpoint-up(xs) {
  .card__heading {
    font-size: 1.8rem;
    top: 18.45rem;
  }
}

@include media-breakpoint-up(sm) {
  .card__heading {
    top: 17.8rem;
  }
}

@include media-breakpoint-up(md) {
  .card__heading {
    top: 17.4rem;
  }
}

@include media-breakpoint-up(lg) {
  .card__heading {
    top: 17.15rem;
  }
}

@include media-breakpoint-up(xl) {
  .card__heading {
    font-size: 2.4rem;
    top: 17.65rem;
  }
}

@include media-breakpoint-up(xxl) {
  .card__heading {
    font-size: 2.8rem;
    top: 17.15rem;
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed {
  color: hsla(105, 100%, 28%, 1);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 hsl(105, 100%, 28%);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-image: var(--green-gradient3);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 hsl(105, 100%, 28%);
}

.accordion-button {
  font-size: inherit;
}

.accordion-button:focus {
  z-index: 3;
  border-color: hsl(105, 100%, 28%);
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsla(105, 100%, 28%, 0.514)
}

.badge {
  --bs-badge-border-radius: unset;
}

@media (min-width: 1200px) {

  h3, .h3 {
    line-height: 1.3;
  }

}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* SCSS HEX */
$india-green: #248f00ff;
$dark-green: #0a210fff;
$paynes-gray: #586f7cff;
$maize: #fce762ff;
$red-cmyk: #ed1c24ff;

/* SCSS HSL */
$india-green: hsla(105, 100%, 28%, 1);
$dark-green: hsla(133, 53%, 8%, 1);
$paynes-gray: hsla(202, 17%, 42%, 1);
$maize: hsla(52, 96%, 69%, 1);
$red-cmyk: hsla(358, 85%, 52%, 1);

/* SCSS RGB */
$india-green: rgba(36, 143, 0, 1);
$dark-green: rgba(10, 33, 15, 1);
$paynes-gray: rgba(88, 111, 124, 1);
$maize: rgba(252, 231, 98, 1);
$red-cmyk: rgba(237, 28, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-right: linear-gradient(90deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-bottom: linear-gradient(180deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-left: linear-gradient(270deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-top-right: linear-gradient(45deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-bottom-right: linear-gradient(135deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-top-left: linear-gradient(225deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-bottom-left: linear-gradient(315deg, #248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);
$gradient-radial: radial-gradient(#248f00ff, #0a210fff, #586f7cff, #fce762ff, #ed1c24ff);