---
layout: layouts/default.njk
title: Contact 3E PCB Software
permalink: /contact-3epcb-software/
description: Have a question? Reach out to us through our contact page by filling out the standard form provided. We look forward to hearing from you.
---
<p class="lead border-top border-1 pt-2">
  3E PCB Software is a partner of  
  <a
    href="https://www.aptean.com/en-US/solutions/erp/products/aptean-cimnet-erp"
    target="_blank"
    rel="noopener"
    class="link-fancy"
  >
    Aptean,&nbsp;
  </a>
  developing, supporting and consulting on the Engenix product suite.
</p>
<p class="lead border-bottom border-1 pb-2">
  For general information on Engenix and other Cimnet branded software, contact Aptean directly, otherwise contact us directly here: <a href="mailto:info@3epcb.com" class="link-fancy">Info</a>
</p>
<h2 class="fw-bolder ggt">Need To Get In Touch?</h2>
<button type="button" class="btn btn-success btn-large eee-green-grd px-5 py-3 mt-3 position-relative">
  <a
    href="https://www.aptean.com/en-US/solutions/erp/products/aptean-cimnet-erp"
    class="fs-5 text-white no-underline"
    target="_blank"
    rel="noopener"
  >
    Contact 3E via Aptean »
  </a>
</button>