---
layout: layouts/default.njk
title: Contact
permalink: /contact-3epcb-software/index.php
---

<div id="form-container" class="container rounded border py-4">
  <div id="messages">
    <? echo $error.$successMessage; ?>
  </div>
  <form method="post" onsubmit="return true">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01" class="ms-1">Name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Name"
          name="name"
          maxlength="40"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="emailAddr" class="ms-1">Email</label>
        <input type="email" class="form-control" id="emailAddr" placeholder="email@domain.com" name="email" required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="phoneNumber" class="ms-1">Phone</label>
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          placeholder="123 456 7890"
          title="10 digit phone number"
          name="phone"
        />
      </div>
      <div id="method-block" class="col-md-6" style="margin-top: 1.9rem">
        <label id="method-label" for="emailRadio" class="ms-2">Contact Method:</label>
        <div id="method-email-radio" class="form-check form-check-inline mr-0">
          <input
            class="form-radio-input"
            type="radio"
            name="inlineRadioOptions"
            id="emailRadio"
            value="email"
            checked
          />
          <label class="form-radio-label" for="emailRadio" aria-label="email radio button">Email</label>
        </div>
        <div id="method-phone-radio" class="form-check form-check-inline mr-0">
          <input
            class="form-radio-input"
            type="radio"
            name="inlineRadioOptions"
            id="phoneRadio"
            value="phone"
            aria-label="phone radio button"
          />
          <label class="form-radio-label" for="phoneRadio">Phone</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="textarea-1" class="ms-1">Message</label>
        <textarea
          class="form-control"
          id="textarea-1"
          placeholder="Enter your message"
          rows="5"
          autocomplete="off"
          name="message"
          required
        ></textarea>
      </div>
    </div>
    <!-- <div class="g-recaptcha" data-sitekey="6LdD0gQqAAAAAPwervCiy1sX6XhHIFbm5fuHi-rO"></div> -->
    <div
      class="g-recaptcha"
      data-sitekey="6LdD0gQqAAAAAPwervCiy1sX6XhHIFbm5fuHi-rO"
      data-badge="inline"
      data-size="invisible"
      data-callback="setResponse"
    ></div>
    <input type="hidden" id="captcha-response" name="captcha-response" />
    <div class="d-flex justify-content-end pt-3">
      <button id="submit-btn" class="btn btn-success mb-3" type="submit" name="submit">Send Message »</button>
    </div>
  </form>
</div>
