---
layout: layouts/default.njk
displaytitle: Custom Software Solutions for PCB Manufacturers by 3E PCB Software
title: Custom Software
permalink: /pcb-engineering-custom-software/
eleventyNavigation:
  key: custom
  order: 6
  title: Custom Software
description: Explore our Custom Software Solutions page for tailored PCB engineering software development services that exceed your expectations. Partner with us to empower your business with the tools it needs to thrive.
---

<p class="lead border-top border-bottom border-1 py-2">
  Welcome to our Custom Software Solutions page. At the heart of innovation, we
  specialize in crafting tailored PCB engineering software development services
  to meet your unique business needs. Our approach is built on a foundation of
  partnership—working closely with you to ensure that our custom solutions not
  only meet but exceed your expectations. With years of expertise and a
  commitment to excellence, we empower your business with the tools it needs to
  thrive. Together, let's build something extraordinary.
</p>
<h2 class="fw-bolder ggt">New Product Introduction (NPI) Web Application</h2>
<p>
  New Product Introduction (NPI) is a strategic and structured process that
  guides a new product from its initial concept to the market launch. It
  encompasses a series of interconnected activities designed to ensure the
  successful development, validation, and commercialization of the product.
</p>
<p>
  The goal of NPI is to optimize production, and save money, ensuring that the
  product meets quality standards and customer expectations. It's a
  comprehensive approach that involves collaboration across various departments,
  including sales, engineering, inventory management & finance.
</p>
<p>
  Using a Web Application allows company-wide user access and no client install
  on any operating system.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/npi-material-req.png"
  alt="NPI ERP Material Allocation screen"
/>
<figcaption class="text-center mb-3">
  NPI ERP Inventory Material Allocation
</figcaption>
<p>
  The scope of the NPI Web App spans Sales Request, Engineering Approval,
  Material Pool Management, Material procurement, ERP Work Order Link & Work
  Order tracking.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/npi-link-wo.png"
  alt="ERP Work Order Selection dialog"
/>
<figcaption class="text-center mb-3">ERP Work Order Selection</figcaption>
<p>
  The custom app spans multiple systems, multiple integration points and
  provides an easy-to-use but powerful platform for cross-functional teams to
  successfuly manage the entire NPI process.
</p>
<h2 class="fw-bolder ggt">Job Viewer & Tooling Management Web App</h2>
<p>
  The custom Job Viewer web app allows selective engineering data to be shared
  across the enterprise, without needing access to the licensed applications.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/tooling.png"
  alt="PCB Tooling, Attibute and scaling data"
/>
<figcaption class="text-center mb-3">
  PCB Tooling, Attibute and Scaling Data
</figcaption>
<p>
  Tooling generation is another cross-functional task involving Engineering,
  CAM, Artwork & Quality Assurance. Engineers generate the tools then assign
  various tasks to the CAM & Artwork teams who use the web app to log
  transactions and data. The final tooling is reviewed by Quality Assurance
  prior to production release.
</p>
<h2 class="fw-bolder ggt">CNC Drill Tool Feeds & Speeds Mass Update</h2>
<p>Our client set the following project goals:</p>
<ol>
  <li>Automatically select CNC Drill Tool Parameter Settings for each job.</li>
  <li>
    Load the CNC Drill programs and update the header with the feeds & speeds
    data.
  </li>
  <li>Save the CNC Drill programs back to the file system.</li>
  <li>On feeds & speeds change, update all related drill files.</li>
</ol>
<p class="mt-3">
  Setting Drill speeds and feeds correctly is dependent on the layer and
  material characteristics in the stack-up. Thicknesses, resin content, glass
  style and transition temperature all come into play.
</p>
<p>
  The source of the drill hole requirements is the CAM Data. Engenix® has the
  job stackup and materials properties.
</p>
<h3 class="fw-bolder ggt">Solution Overview</h3>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/custom-cnc-overview.png"
  alt="CNC Drill Tool Update Solution Overview"
/>
<figcaption class="text-center mb-3">
  CNC Drill Tool Update Solution Overview
</figcaption>
<p>
  In addition to providing custom database tables to store the feeds & speeds
  data, a Drill File Processor & Monitor server automatically detects new drill
  files needing processing and changes to drill parameters which invoke a mass
  change.
</p>
<p>
  The solution provided a fully automated & mass update system to solve what had
  previously been semi-automated at best, error prone and unreliable.
</p>
<h2 class="fw-bolder ggt">Panelizer with Coupons</h2>
<p>
  Panelization is standard process in PCB engineering and various tools are
  available in the industry to complete this task. However, existing tools do
  not offer anything above the basic features and lack configuration and
  customization.
</p>
<p>
  As complexities arise and new tooling systems are implemented, panelization
  needs additional features to meet modern requirements. Further, using a
  standalone tool just adds an another manual step in the engineering process
  which is then subject to data entry issues, typos etc.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/panelizer.png"
  alt="Engenix custom PCB panelizer"
/>
<figcaption class="text-center mb-3">Engenix custom PCB panelizer</figcaption>
<p>
  The custom integrated panelizer accomodates multiple coupon types, gold
  edge-connectors, multi-level output inner layers & sub-assemblies, tooling
  calculations, rotation & multi-stage output. Panel graphics are stored in the
  Engenix® database and available for reports and Web Services.
</p>
<h2 class="fw-bolder ggt">Rule-Based HTML DRC Import</h2>
<p>
  The Engenix® rules language is a powerful development platform and can be used
  for almost any kind of task beyond typical application scripting.
</p>
<p>
  One example of this is a custom data import from an HTML Report Table. The
  HTML table is generated during CAM processing and made available on the
  network file system.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/html-table-1.png"
  alt="PCB Power Ground Layer Design Rule Check HTML Table"
/>
<figcaption class="text-center mb-3">
  PCB Power Ground Design Rule Check HTML Table
</figcaption>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/html-table-2.png"
  alt="PCB Signal Layer Design Rule Check HTML Table"
/>
<figcaption class="text-center mb-3">
  PCB Signal Layer Design Rule Check HTML Table
</figcaption>
<p>
  Using a simple rule script, the data is imported and assigned to the required
  layers. This data is then used in rule processing for Route Generation.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/attributes.png"
  alt="PCB Layer Attributes in Engenix®"
/>
<figcaption class="text-center mb-3">
  PCB Layer Attributes in Engenix®
</figcaption>
