---
layout: layouts/default.njk
displaytitle: Engenix®
title: Engenix<small><sup class="fw-bolder eee-green-grd-text">®</sup></small>
permalink: /engenix-pcb-engineering-automation-software/
eleventyNavigation:
  key: Engenix
  order: 2
---

<p class="lead border-top border-1 py-2 mt-3">
  As a comprehensive suite of PCB software applications, Engenix
  <small><sup>®</sup></small>
  provides all the key functionality for engineers to rapdily and accurately
  process PCB engineering jobs and manage the entire process.
</p>
<h2 class="fw-bolder eee-green-grd-text">PCB Technologies</h2>
<p class="lead">Special features are provided for the following PCB technologies:</p>
<ul class="lead border-bottom border-1 py-2 mb-5">
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Conventional / Rigid</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Rigid-Flex</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Flex</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">- Stiffeners, PSA's, ZIF's...</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">HDI</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Embedded Components</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Assemblies</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Hybrid</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5">Metal Core</li>
  <li class="badge bg-copper-fade2 text-light p-2 m-1 fs-5 mb-3">Heaters</li>
</ul>
<div class="accordion" id="engenixAccordion">
  <div class="accordion-item mb-5">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Stack-up Generation with Impedance Control
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          Automatic stack-up generatrion produces optimal PCB builds by
          considering dielectric constants, thickness, tolerance, cost, ply &
          symmetry.
        </p>
        <h3>Scenarios / Recipes for Rapid Generation</h3>
        <p>
          Scenarios/recipes are available a time-saving solution and guide the
          engineers to quickly iterate through different stack-up options and
          preferred builds.
        </p>
        <h3>Manual Builds & Changes with Stack-up Editor</h3>
        <p>
          The Stack-up Editor in Engenix allows for manual builds and on-the-fly
          adjustments. Engineers can customize layer configurations with
          precision, making real-time changes that reflect immediately in the
          design, offering a hands-on approach to stack-up creation.
        </p>
        <h3>Drilled / Routed Materials for Flex & R-Flex</h3>
        <p>
          Engenix provides specialized support for Flex and R-Flex applications
          with drilled and routed materials automatically generating
          manufactured parts and production routes.
        </p>
        <h3>Engineering Material Database with Properties</h3>
        <p>
          Engenix's comprehensive Engineering Material Database is the
          cornerstone of PCB stack-up design, providing material properties.
          This database ensures that engineers have access to the latest
          information on dielectric constants, loss tangents, and other critical
          material characteristics, enabling informed decisions for superior PCB
          performance.
        </p>
        <h3>Integrated Impedance / Impedance Driven</h3>
        <p>
          Engenix is fully integrated with Impedance Calculation tools, making
          it an impedance-driven design platform. This integration ensures that
          impedance considerations are at the forefront of the design process,
          leading to PCBs that meet stringent electrical performance criteria.
        </p>
        <h3>Automatic ERP Part Search & Match with Inventory Count</h3>
        <p>
          Streamline your parts procurement with Engenix's Automatic ERP Part
          Search. This feature automatically matches parts with your existing
          inventory, providing real-time counts and helping to prevent
          overstocking or part shortages.
        </p>
        <h3>Automated Manufactured Part Creation & Alternate Build Types</h3>
        <p>
          Engenix simplifies the manufacturing process with Automated
          Manufactured Part Creation. This feature generates part numbers and
          identifies alternate build types, facilitating a smoother transition
          from design to production.
        </p>
        <h3>Advanced Layer Copper Thickness Control</h3>
        <p>
          Take control of your PCB's electrical properties with Engenix's
          Advanced Layer Copper Thickness Control. This feature allows for
          precise adjustments to the copper thickness of each layer, ensuring
          that your PCB's impedance and signal integrity are exactly as
          required.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-5">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
       Route Generation & Costing
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-5">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
      Specifications & Capabilities
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-5">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
      Engineering Tables & Tooling
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-5">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Data Validation & Checking
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
</div>
