---
layout: layouts/default.njk
displaytitle: Engenix®
title: Engenix<small><sup class="ggt">®</sup></small>
permalink: /engenix-pcb-engineering-automation-software/
eleventyNavigation:
  key: Engenix
  order: 2
---

<p class="lead border-top border-2 pt-2">
  As a comprehensive suite of PCB software applications, Engenix
  <small><sup style="margin-left: -4px">®</sup></small>
  provides all the key functionality for engineers to rapidly and accurately
  process PCB engineering jobs and manage the entire process.
</p>
<p class="lead">
  Engenix® is deployable as a single-site, as well as a multi-site installation and can
  connect manufacturing plants across the globe.
</p>
<h2 class="fw-bolder ggt">PCB Technologies</h2>
<p class="lead mb-4">
  Special features are provided for the following PCB technologies:
</p>
<div class="d-flex flex-wrap justify-content-around mb-3">
  <div class="badge bg-copper-fade2 text-light fs-5">Conventional / Rigid</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Rigid-Flex</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Flex</div>
  <div class="badge bg-copper-fade2 text-light fs-5">
    - Stiffeners, PSA's, ZIF's...
  </div>
  <div class="badge bg-copper-fade2 text-light fs-5">HDI</div>
</div>
<div
  class="d-flex flex-wrap justify-content-around border-bottom border-2 mb-4 pb-4"
>
  <div class="badge bg-copper-fade2 text-light fs-5">Embedded Components</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Assemblies</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Hybrid</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Metal Core</div>
  <div class="badge bg-copper-fade2 text-light fs-5">Heaters</div>
</div>
<div class="accordion" id="engenixAccordion">
  <div class="accordion-item mb-4">
    <h2 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Stack-up Generation & Impedance Control
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          Automatic stack-up generation produces optimal PCB builds by
          considering dielectric constants, thickness, tolerance, cost, ply &
          symmetry.
        </p>
        <img
          class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
          src="/img/stackup.png"
          alt="PCB Stack-up Editor"
        />
        <h3 class="ggt fs-4">Scenarios / Recipes for Rapid Generation</h3>
        <p>
          Scenarios/recipes are available as a time-saving solution and guide
          the engineers to quickly iterate through different stack-up options
          and preferred builds.
        </p>
        <h3 class="ggt fs-4">Manual Builds & Changes with Stack-up Editor</h3>
        <p>
          The Stack-up Editor in Engenix allows for manual builds and on-the-fly
          adjustments.
          <strong>
            Engineers can customize layer configurations with precision, making
            real-time changes that reflect immediately in the design
          </strong>
          , offering a hands-on approach to stack-up creation.
        </p>
        <h3 class="ggt fs-4">Drilled / Routed Materials for Flex & R-Flex</h3>
        <p>
          Engenix provides specialized support for Flex and R-Flex applications
          with drilled and routed materials automatically generating
          manufactured parts and production routes.
        </p>
        <h3 class="ggt fs-4">Engineering Material Database with Properties</h3>
        <p>
          Engenix's comprehensive Engineering Material Database is the
          cornerstone of PCB stack-up design, providing material properties.
          This database ensures that engineers have access to the latest
          information on dielectric constants, loss tangents, and other critical
          material characteristics, enabling informed decisions.
        </p>
        <h3 class="ggt fs-4">Integrated Impedance / Impedance Driven</h3>
        <p>
          <strong>
            Engenix is fully integrated with Impedance Calculation tools
          </strong>
          , making it an impedance-driven design platform. This integration
          ensures that impedance considerations are at the forefront of the
          design process, leading to PCBs that meet stringent electrical
          performance criteria.
        </p>
        <h3 class="ggt fs-4">
          Automatic ERP Part Search & Match with Inventory Count
        </h3>
        <p>
          Streamline your parts procurement with Engenix's Automatic ERP Part
          Search. This feature automatically matches parts with your existing
          inventory, providing real-time counts and helping to prevent
          overstocking or part shortages.
        </p>
        <h3 class="ggt fs-4">
          Automatic Manufactured Part Creation & Alternate Build Types
        </h3>
        <p>
          <strong>
            Engenix® simplifies Manufactured Part Creation through automation.
          </strong>
          This feature generates structured part numbers and identifies
          alternate build types, facilitating a smoother transition from
          engineering to production.
        </p>
        <h3 class="ggt fs-4">Advanced Layer Copper Thickness Control</h3>
        <p>
          Take control of your PCB's electrical properties with Engenix's
          Advanced Layer Copper Thickness Control. This feature allows for
          precise adjustments to the copper thickness of each layer, ensuring
          that your PCB's impedance and signal integrity are exactly as
          required.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4">
    <h2 class="accordion-header">
      <button
        class="accordion-button fw-bold collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Route Traveler & Costing
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <h3 class="ggt">Route Gen Essentials</h3>
        <p>
          Engenix® transforms the manufacturing process flow into a rules-based
          engineering engine. With access to all the available layer CAM data,
          stack construction and materials, ERP Data & Engineering tables, route
          generation becomes fully automatic and the comprehensive output is
          completed in seconds.
        </p>
        <p>
          Route Generation is flexible however and manual changes and edits are
          easily made with the editor. Moreover,
          <strong>
            manual changes can be retained and merged with the next rules-based
            output.
          </strong>
        </p>
        <p>
          A typical route step will have the following foundational information:
        </p>
        <ul class="mb-3">
          <li>Step Sequence</li>
          <li>Production Resource</li>
          <li>Instructions</li>
          <li>Parameters</li>
        </ul>
        <h3 class="ggt">Advanced Route Gen</h3>
        <p>
          Beyond the essentials, Engenix® provides innovative features for
          unprecendented functionality.
        </p>
        <h4 class="ggt">Route Compare</h4>
        <p>
          It is critical to see any changes when editing an existing job.
          Engenix® not only provides a comparison with the last save data but
          also to the history of routes exported to the ERP system.
        </p>
        <p>
          Route Compare hightlights any differences step-by-step, line-by-line
          and value-by-value to ensure any changes are correct.
        </p>
        <img
          class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
          src="/img/RouteCompare01.png"
          alt="PCB Route Comparison with Manual Step"
        />
        <h4 class="ggt">Scheduling (CRP) Parameters</h4>
        <p>
          Engenix® rules can automatically generate the necessary scheduling
          parameters Queue Time; Set-Up Time & Process Time as part of Route
          generation. The data is exported to the ERP system and/or other
          scheduling tools.
        </p>
        <h4 class="ggt">Statistical Process Control (SPC)</h4>
        <p>
          As per the CRP parameters, Engenix® can generate the key data for SPC
          data processing.
        </p>
        <h4 class="ggt">Extended Route Step Data</h4>
        <p>
          For special conditions, Route Steps can have Memo text, File
          Attachments & Extended Parameter values for adding QR Codes to the
          production traveler.
        </p>
        <h3 class="ggt">Costing</h3>
        <p>
          <strong>
            Accurate job costing is a core business essential for measuring
            profitability and calculating competitive pricing.
          </strong>
          Engenix® will seemlessly calculate cost for each step as needed and
          provide a breakdown of the key costing components:
        </p>
        <ul class="mb-3">
          <li>Set-Up</li>
          <li>Direct Material</li>
          <li>Indirect Material 1</li>
          <li>Indirect Material 2</li>
          <li>Process</li>
          <li>Overhead</li>
        </ul>
        <h4 class="ggt">Cost Roll-up & Yield</h4>
        <p>
          Roll-up is provided for both Production & Quotation purposes for
          flexibility in pricing. The Roll-up takes into consideration the part
          yield, which can come from your ERP system work order history.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4">
    <h2 class="accordion-header">
      <button
        class="accordion-button fw-bold collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        Engineering Tables & Tooling
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <h3 class="ggt">Engineering Data Tables</h3>
        <p>
          PCB engineering involves referencing numerous sets of data. From stack
          heights, electrical test voltages, packaging requirements, process
          line selection, CNC Drill Entry Sheet selection, et al.
        </p>
        <p>
          Engenix® provides extensive customizability, including user-defined
          engineering tables.
          <strong>
            Now, all the spreadsheets, print-outs and standalone databases can
            be consolidated into the Engenix® knowledgebase.
          </strong>
          Managing and maintaining the data is a snap and changes are
          immediately available to update jobs when running the rules.
        </p>
        <img
          class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
          src="/img/eng-table.png"
          alt="PCB Route Comparison with Manual Step"
        />
        <h3 class="ggt">Tooling Control</h3>
        <p>
          Effective tooling control is pivotal in managing changes required in
          manufacturing. PCB jobs are run with numerous tools. Each tool can
          have it's own life-cycle and revision history and it is critical to
          synchronize the current toolset with production.
        </p>
        <p>
          Engineers now have precise control over each tool. Multiple revisions
          are tracked along with date and timestamps for every change.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4">
    <h2 class="accordion-header">
      <button
        class="accordion-button fw-bold collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Data Validation & Integrity
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#engenixAccordion"
    >
      <div class="accordion-body">
        <p>
          Data integrity is critical to successful manufacturing. Engenix's
          'Data Validation & Integrity' suite of features is designed to ensure
          that every piece of information, from initial design to final product,
          is scrutinized for accuracy and consistency. This comprehensive system
          includes features such as CAM Import, which seamlessly translates
          design data into manufacturing information; Customer Specs validation,
          which aligns production with client requirements; Manufacturing
          Capabilities assessment, to confirm the feasibility of production; and
          rigorous validation protocols for both manual entry and rule
          processing. Together, these features form a robust framework that
          upholds Engenix's commitment to quality and precision in every job.
        </p>
        <h3 class="ggt">CAM & ERP Integration</h3>
        <p>
          By accessing data directly from source, Engenix® ensures there are no
          errors introduced when using information from other systems. Follow
          <a href="/engenix-cam-erp-impedance-integration/" class="link-fancy">
            this link
          </a>
          for more information on Engenix®'s integration capabilities.
        </p>
        <h3 class="ggt">Customer Specifications</h3>
        <p>
          <strong>
            With Customer Specification validation, Engenix® ensures that every
            PCB is built to meet the precise requirements set forth by the
            client.
          </strong>
          This feature cross-references each specification against the job's
          attributes, guaranteeing that the final product aligns perfectly with
          customer expectations.
        </p>
        <img
          class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
          src="/img/attr-grid.png"
          alt="PCB Route Attribute Editor"
        />
        <h3 class="ggt">Manufacturing Capabilities</h3>
        <p>
          Understanding the thresholds and manufacturing capabilities allows
          Engenix® to ensure only what can be delivered with the highest
          quality. Typically, PCB manufacturers work within a range of minimum
          and maximum values and offer different levels of service, depending on
          the design of the board. This feature validates whether the current
          manufacturing setup can fulfill the requested specifications, ensuring
          feasibility and preventing overcommitment.
        </p>
        <h3 class="ggt">Data Entry Validation</h3>
        <p>
          Even in today's data-driven world, some manual entry and user-choices
          are required when setting up a job.
          <strong>
            As engineers start the data entry process, each item is checked and
            validated according to the engineering rules.
          </strong>
          Users are immediately notified of any issues and prevented from making
          invalid entries or choices that conflict.
        </p>
        <h3 class="ggt">Run-Time Rule Processing Validation</h3>
        <p>
          Once a job is set up and ready to process, further checking is
          performed by the engineering rules as a final catch-all during route
          generation where the complete picture is known and checks may be
          necessary at the process step level.
        </p>
        <p>
          With data validation and checking built in across the board, Engenix®
          ensures the highest level of quality and data integrity.
        </p>
      </div>
    </div>
  </div>
</div>
