---
layout: layouts/blank.njk
eleventyNavigation:
  key: home
  order: 1
---

<div class="container">
  <div class="row d-flex justify-content-center align-items-center fill-height">
    <div class="col-12 col-xl-7 text-start my-5 pe-xl-5">
      <h1 class="display-1 headline mb-4 eee-green-grd eee-clip-text fw-bolder">
        <div>3E PCB</div> 
        <div>Engineering</div>
        <div style="letter-spacing: .175rem;">Automation</div>
      </h1>
      <p class="fs-3 mb-4">Innovative software solutions, professional services & industry expertise to take your engineering team to the <span class="fw-bolder eee-green-grd eee-clip-text">next level.</span></p>
      <p class="fs-3 mb-5">Deployed by leading PCB manufacturers around the world, our
         <span class="fw-bolder eee-green-grd eee-clip-text">Engenix<sup class="fw-bolder eee-green-grd eee-clip-text">®</sup></span> 
         based solutions have been empowering the industry for over <span class="fw-bolder eee-green-grd eee-clip-text">25 years</span>.</p>
      <a class="btn btn-success eee-green-grd px-5 py-3 me-4 position-relative text-white" href="https://3epcb.com" target="_blank" rel="noopener" >Download
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill copper-fade text-white">v5.2.0<span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="https://3epcb.com">Check it out</a>
    </div>
    <div class="col-12 col-xl-5">
    <div class="flex justify-center items-center">
        <div class="landing-card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--2"></div>
            <div class="card__heading">
              <span class="card__heading-span copper-fade text-white">E·n·g·e·n·i·x<sup><small> ®</small></sup></span>
            </div>
            <div class="card__details">
              <ul>
                <li>Stack-up &amp; Impedance</li>
                <li>Route Gen &amp; Costing</li>
                <li>Specifications &amp; Capabilities</li>
                <li>Engineering Tables &amp; Tooling</li>
                <li>CAM &amp; ERP Integration</li>
                <li>Quotation & More</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2 card__picture--back">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">[Proven]</p>
                <p class="card__price-value">$ROI</p>
              </div>
              <a class="btn btn-lp btn--white" href="#popup">Learn More!</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="wrapper my-vh-5 bg-light text-dark">
  <div class="container py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-6">
        <h2 class="h2">Open source & free</h2>
        <p>11straps is an open source project released under the MIT license. It is free for everyone. You are welcome to test, contribute and improve it or use it even for commercial projects.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Eleventy + Bootstrap = 💪</h2>
        <p>11straps come´s with the static site generator Eleventy and the CSS framework Bootstrap 5 in it. It combines both via npm and Gulp and adds some dev and build magic to it. This website itself is also included as example.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Local server & Browser Sync</h2>
        <p>11straps includes a dev build process with a local server and browser sync. Everything you need for your local live dev environment.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Minified and purged output</h2>
        <p>Once you are done with your local development it´s time for a prod build. The 11straps prod output is a minified HTML site with a minified and purged CSS file and optimized assets. Thats it. Just a clean, fast and static website will come out.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5 border-top">
    <div class="col-12 col-lg-6 border-right">
      <h2>Documentation</h2>
      <p>The full documentation can be found over there at
        <a href="https://github.com/holger1411/11straps/blob/main/README.md" class="link-fancy" target="_blank" rel="noopener">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
      <h2>Credits</h2>
      <p>Many thanks to the
        <a href="https://www.11ty.dev/" class="link-fancy" target="_blank" rel="noopener">Eleventy</a>
        and the
        <a href="https://www.getbootstrap.com" class="link-fancy" target="_blank" rel="noopener">Bootstrap</a>
        team of course.<br/>
    </div>
  </div>
</div>
