---
layout: layouts/blank.njk
title: PCB Engineering Automation Software Solutions | 3E PCB
permalink: /
eleventyNavigation:
  key: Home
  order: 1
description: Welcome to the home page of 3EPCB Software LLC, a global leading provider of engineering automation software for PCB manufacturers.
hasOg: true
og:
  - image: "https://3epcb.lauris-webdev.com/img/home-og-image.webp"
  - imageType: "image/png"
  - imageWidth: "1680"
  - imageHeight: "880"
---

<div class="container">
  <div class="row justify-content-center align-items-center fill-height">
    <div class="col-12 col-xl-7 text-start my-5 pe-xl-5">
      <h1 class="display-1 headline mb-4 ggt fw-bolder">
        <div>PCB</div>
        <div>Engineering</div>
        <div style="letter-spacing: 0.15rem">Automation</div>
      </h1>
      <p class="fs-3 mb-4">
        With innovative software, specialist consulting & industry expertise, 3E PCB will take your engineering team to
        the
        <span class="fw-bolder ggt">next level.</span>
      </p>
      <p class="fs-3 mb-5">
        Deployed by leading PCB manufacturers around the world, our
        <!-- prettier-ignore -->
        <span class="fw-bolder ggt">Engenix<sup class="fw-bolder ggt">®</sup>
        </span>
        based solutions have been empowering the industry for over
        <span class="fw-bolder ggt">25 years</span>.
      </p>
      <div class="d-grid gap-2 col-lg-6 me-auto">
        <button type="button" class="btn btn-success btn-large eee-green-grd px-5 py-3 position-relative">
          <a href="/engenix-pcb-engineering-automation-software/" class="fs-4 text-white no-underline">
            Learn About
            <strong>
              Engenix<sup>®</sup>
            </strong>
          </a>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-copper-fade text-white d-none d-sm-inline-block"
          >
            v6.0.0
            <span class="visually-hidden">latest version</span>
          </span>
        </button>
      </div>
    </div>
    <div class="col-12 col-xl-5">
      <div class="flex justify-center items-center">
        <div class="landing-card" style="height: 52rem;">
          <div class="card__side card__side--front bg-white">
            <div class="card__picture card__picture--2"></div>
            <div class="card__heading">
              <span class="card__heading-span bg-copper-fade text-white">
                E·n·g·e·n·i·x·<sup>®</sup>
              </span>
            </div>
            <div class="card__details">
              <ul>
                <li>Stack-up &amp; Impedance</li>
                <li>Route Generation &amp; Costing</li>
                <li>Specifications &amp; Capabilities</li>
                <li>Engineering Tables &amp; Tooling</li>
                <li>CAM &amp; ERP Integration</li>
                <li>Quotation & More</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2 card__picture--back">
            <div class="card__cta">
              <div class="card__price-box">
                <div>[C-Proven]</div>
                <div>[R-OI]</div>
              </div>
              <a class="btn btn-lp btn--white" href="#benefits">Benefits</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="benefits" class="container-fluid mb-5 bg-body text-light benfits-bg" data-bs-theme="dark">
  <div class="container d-flex flex-column justify-content-center fill-height">
    <div class="row justify-content-center pt-5">
      <div class="col col-lg-7">
        <div class="d-flex flex-nowrap mb-3 justify-content-center">
          <span class="d-inline-flex align-self-center">
            <svg class="inline-block bs-svg-size bs-svg-color me-2">
              <use xlink:href="img/bootstrap-icons.svg#trophy"></use>
              <use href="img/bootstrap-icons.svg#trophy"></use>
            </svg>
          </span>
          <h2 class="d-inline-flex align-self-center mb-0 title-case yellow-text">benefits</h2>
        </div>
        <p class="lead">
          PCB manufacturing is a dynamic and fast-paced environment with new processes, materials &amp; manufacturing
          requirements continuously being introduced.
        </p>
        <!-- prettier-ignore -->
        <p class="lead border-bottom border-white pb-3">
          Customers demand rapid prototyping, advanced PCB technology requirements and specification compliance. With
          Engenix<sup>&reg;</sup>
          at the core of pre-production engineering, your team will meet these challenges with ease.
        </p>
      </div>
    </div>
    <div class="row justify-content-around d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5 py-vh-1 mb-3">
        <div class="d-flex flex-nowrap mb-2">
          <span class="d-inline-flex align-self-center">
            <svg class="inline-block bs-svg-size bs-svg-color me-2">
              <use xlink:href="img/bootstrap-icons.svg#speedometer"></use>
              <use href="img/bootstrap-icons.svg#speedometer3"></use>
            </svg>
          </span>
          <h3 class="d-inline-flex align-self-center mb-0 title-case yellow-text">
            Cut Job Time from hours to minutes
          </h3>
        </div>
        <!-- prettier-ignore -->
        <p class="lead">
          Rules-based Automation is at the core of Engenix<sup>&reg;</sup>. By utilizing rules and data integration, job tasks are completed in seconds and the
          <strong>full potential</strong> of your PCB engineering team is unlocked.
        </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1 mb-3">
        <div class="d-flex flex-nowrap mb-2">
          <span class="d-inline-flex align-self-center">
            <svg class="inline-block bs-svg-size bs-svg-color me-2">
              <use xlink:href="img/bootstrap-icons.svg#exclamation-triangle"></use>
              <use href="img/bootstrap-icons.svg#exclamation-triangle"></use>
            </svg>
          </span>
          <h3 class="d-inline-flex align-self-center mb-0 title-case yellow-text">Eliminate errors & duplication</h3>
        </div>
        <!-- prettier-ignore -->
        <p class="lead">
          From simple data-entry typo's to conflicting CAM data, Engenix<sup>&reg;</sup>
          will find, correct and prevent invalid data from creating erroneous outputs, hence becoming a
          <strong>Quality Assurance</strong>
          partner, drastically reducing your engineering team's defects.
        </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <div class="d-flex flex-nowrap mb-2">
          <span class="d-inline-flex align-self-center">
            <svg class="inline-block bs-svg-size bs-svg-color me-2">
              <use xlink:href="img/bootstrap-icons.svg#stopwatch"></use>
              <use href="img/bootstrap-icons.svg#stopwatch"></use>
            </svg>
          </span>
          <h3 class="d-inline-flex align-self-center mb-0 title-case yellow-text">Implement changes immediately</h3>
        </div>
        <p class="lead">
          With simple rule &amp; configuration updates, changes can be
          <strong>implemented in minutes</strong>
          , without disruption and downtime while the engineering team adopts to the new requirements.
        </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <div class="d-flex flex-nowrap mb-2">
          <span class="d-inline-flex align-self-center">
            <svg class="inline-block bs-svg-size bs-svg-color me-2">
              <use xlink:href="img/bootstrap-icons.svg#cash-stack"></use>
              <use href="img/bootstrap-icons.svg#cash-stack"></use>
            </svg>
          </span>
          <h3 class="d-inline-flex align-self-center mb-0 title-case yellow-text">Reduce Operating Costs</h3>
        </div>
        <!-- prettier-ignore -->
        <p class="lead">
          By dramatically cutting job time, streamlining workflows, eliminating manual processes and home-grown tools,
          Engenix<sup>&reg;</sup> becomes a <strong>strategic asset</strong> in reducing operating costs and expenditure.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container px-lg-5 mb-5">
  <div class="row eee-box-shadow1">
    <div class="col-12 col-lg-9 align-items-center fs-3 my-5 mx-auto">
      <div class="d-flex flex-wrap mb-4">
        <img
          alt="multicircuits inc logo"
          class="img-fluid me-5 border border-white border-5"
          style="max-width: 160px"
          src="/img/multicircuits.webp"
          loading="lazy"
        />
        <div class="flex flex-column mt-3">
          <div class="fw-bolder">Michael Thiel</div>
          <div class="text-secondary fs-5">Director of Operations &amp; Engineering</div>
        </div>
        <div class="ms-auto">
          <img alt="quotation mark" style="height: 1.8em" src="img/quotation-right.svg" />
        </div>
      </div>
      <p class="mb-3 lead">
        We were very pleased to get up and running ahead of plan. We started fully engineering jobs with Engenix<sup><small>®</small></sup>
        immediately and were able to tackle a big jump in orders we experienced at the time.
      </p>
      <p class="mb-3 lead">
        <strong>
          With Engenix<sup><small>®</small></sup>, we've automated all the key engineering steps and can output jobs in a matter of minutes.
        </strong>
      </p>
      <p class="lead">
        The project was expertly handled by the consultants and they were able to incorporate our custom requirements.
        They really helped us defining our rules and that was the key to making it happen.
      </p>
    </div>
  </div>
</div>
<!-- <div class="container-fluid p-lg-5 bg-light d-none d-lg-block"></div> -->
<div
  class="container-fluid d-flex align-items-center justify-content-around p-lg-5 pb-5 bg-light d-none d-lg-flex"
  style="filter: grayscale(100%)"
>
  <div>
    <img src="/img/ats.webp" 
    class="img-fluid" 
    alt="AT&S logo" 
    style="width: clamp(50px, 5vw, 350px); opacity: 60%"
    loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/ttm.webp"
      class="img-fluid"
      alt="TTM Technologies Logo"
      style="width: clamp(50px, 10vw, 350px); filter: invert(50%)"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/lincstech.webp"
      class="img-fluid"
      alt="Linctech Singapore logo"
      style="width: clamp(50px, 8vw, 350px); opacity: 70%"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/amphenol.svg"
      class="img-fluid"
      alt="Amphenol Printed Circuits logo"
      style="width: clamp(50px, 8vw, 350px); opacity: 70%; position: relative; top: 6px"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/multicircuits.webp"
      class="img-fluid"
      alt="Multicircuits logo"
      style="width: clamp(50px, 7vw, 350px); opacity: 70%"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/hmp.webp"
      class="img-fluid"
      alt="HMP logo"
      style="width: clamp(50px, 10vw, 350px); filter: invert(50%)"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/OneTech.webp"
      class="img-fluid"
      alt="One Tech logo"
      style="width: clamp(50px, 7vw, 350px); filter: invert(60%)"
      loading="lazy"
    />
  </div>
  <div>
    <img
      src="/img/cctc.webp"
      class="img-fluid"
      alt="One Tech logo"
      style="width: clamp(50px, 3vw, 350px); filter: invert(50%)"
      loading="lazy"
    />
  </div>
</div>
<!-- <div class="container-fluid p-lg-5 bg-light d-none d-lg-block"></div> -->
