---
layout: layouts/default.njk
title: Integration
permalink: /engenix-cam-erp-impedance-integration/
eleventyNavigation:
  key: Integration
  order: 4
---

<p class="lead border-top border-2 pt-2">
  Engenix® serves as the pivotal hub that seamlessly connects the diverse array
  of systems essential to engineering and manufacturing. With its robust
  integration capabilities, Engenix® not only streamlines workflows but also
  establishes itself as the foundational database for PCB engineering. Its
  comprehensive integration encompasses Pre-CAM and CAM Systems, ensuring design
  and manufacturing precision; ERP Systems, which optimize operational
  efficiency; and Impedance Simulation Tools, which are crucial for maintaining
  signal integrity.
</p>
<img
  class="d-block mx-auto img-fluid mb-3"
  src="/img/integration.png"
  alt="Engenix Integration Overview"
  style="max-width: 66%"
/>
<p class="lead border-bottom border-2 pb-2">
  Moreover, Engenix's proprietary Web Services offer an open integration point,
  facilitating custom connections with any auxiliary software. Engenix's ability
  to synchronize disparate systems and data points into a cohesive data
  framework is essential for achieving scalable growth and long-term success.
</p>
<!-- prettier-ignore -->
<h2 class="fw-bolder ggt">
  Engenix<small><sup class="ggt">®</sup></small> Integration Matrix
</h2>
<table
  class="table table-bordered table-striped"
  style="font-family: 'Noto Sans Mono'"
>
  <thead>
    <tr>
      <th></th>
      <th scope="col" class="fw-bolder ggt thc">Pre-CAM</th>
      <th scope="col" class="fw-bolder ggt thc">CAM</th>
      <th scope="col" class="fw-bolder ggt thc">ERP / MES</th>
      <th scope="col" class="fw-bolder ggt thc">Impedance</th>
      <th scope="col" class="fw-bolder ggt thc">Web Services</th>
      <th scope="col" class="fw-bolder ggt thc">Registration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="6" class="fw-bolder ggt thr">Systems</th>
      <td>Frontline InSight</td>
      <td>Frontline Genesis</td>
      <td>Aptean Paradigm</td>
      <td>Polar Instruments</td>
      <td>Engenix</td>
      <td>Xact PCB</td>
    </tr>
    <tr>
      <td>Ucamco Intgr8tor</td>
      <td>Frontline InCAM</td>
      <td>SAP</td>
      <td>Apsim RLGC</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Ucamco UcamX Pro</td>
      <td>Sage X3</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>IPC 2581</td>
      <td>Infor Fourth Shift</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Infor Visual</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Custom DB</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="7"></td>
    </tr>
    <tr>
      <td colspan="7"></td>
    </tr>
    <tr>
      <th rowspan="3" class="fw-bolder ggt thr">Technology</th>
      <td>XML</td>
      <td>ODB++</td>
      <td>MS SQL</td>
      <td>Integrated</td>
      <td>XML</td>
      <td>XML</td>
    </tr>
    <tr>
      <td></td>
      <td>API</td>
      <td>Oracle DB</td>
      <td></td>
      <td>JSON</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>XML</td>
      <td>SAP HANA</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h2 class="fw-bolder ggt">Pre-CAM & CAM Integration</h2>
<p>
  Utilizing Pre-CAM & CAM Data provides a head start for the engineers with
  access to the detailed design data, including the Layers, drill & rout
  details, DRC's & attributes.
</p>
<p>
  As Engenix® generates stack-up, BOM, tooling, drilling, route and other data,
  the information can be shared back to CAM for further processing.
</p>
<h3></h3>
<h2 class="fw-bolder ggt">ERP Integration</h2>
<p>
  Engenix's integration with Enterprise Resource Planning (ERP) systems offers a
  seamless and real-time flow of critical business data. By facilitating the
  integration of customer, part, inventory, and sales order data, Engenix
  ensures that all facets of the business are interconnected, allowing for more
  informed decision-making and streamlined operations.
</p>
<p>
  The integration extends to production routes, work-centers, instructions, and
  parameters, as well as
  <strong>Costing,</strong>
  Capacity Requirements Planning (
  <strong>CRP</strong>
  ), and Statistical Process Control (
  <strong>SPC</strong>
  ) data. This integration is crucial for businesses seeking to enhance
  operational efficiency and reduce errors.
</p>
<h2 class="fw-bolder ggt">Integrated Impedance Simulation</h2>
<p>
  Engenix® provides a fully featured Impedance Simulation module. The module
  uses the customers choice of calculator which runs in the background,
  eliminating the need to use an external 3rd party tool and manually transfer
  data.
</p>
<p>
  In addition, Engenix® provides an impedance coupon manager which automatically
  generates the coupon requirements based on the impedance models used in the
  job. Similar impedance models are combined into coupons based on the quality
  and manufacturing requirements.
</p>
<h2 class="fw-bolder ggt">Web Services</h2>
<p>
  Engenix's Web Services integration API is a robust SOAP-based interface
  designed to facilitate seamless integration with various systems. Offering
  data in both XML and JSON formats, it provides developers with flexible
  options to retrieve job data as per their application's requirements. This API
  is particularly beneficial for on-demand access to job data, which is
  essential for direct CAM integration and the development of custom
  applications. Its programmatic access ensures that developers can automate
  workflows and enhance the efficiency of their software solutions.
</p>
<h2 class="fw-bolder ggt">XML</h2>
<p>
  Engenix's XML output file offers a straightforward and efficient method for third
  parties to access job data. This simplicity is key for companies like <strong>Xact
  PCB</strong>, which leverages the XML stack-up data to power their PCB registration analysis
  system.
</p>
