---
layout: layouts/default.njk
title: Privacy Policy
permalink: /privacy/index.html
---

<p>
  3E PCB Software has created this privacy policy to demonstrate its firm
  commitment to secure and trustworthy Internet commerce and your privacy. 3E
  PCB takes steps to protect personal data collected on this site against
  unauthorized access. "Personal Data" is information that is unique to you, or
  that enables us to identify you, such as your name, title, company name,
  industry, address, phone number, or e-mail address.
</p>
<p>
  In the event that 3E PCB changes its privacy policy, the changes will be
  posted on this page. BY USING THIS WEB SITE OR PROVIDING US WITH YOUR PERSONAL
  DATA, YOU EXPRESSLY CONSENT TO OUR USE OF YOUR PERSONAL DATA CONSISTENT WITH
  THIS PRIVACY POLICY.
</p>
<p>
  3E PCB will not sell, rent, or lend your Personal Data to anyone without your
  consent. By using this site and providing personal data to us, you consent to
  the collection and use of data, including Personal Data, in accordance with
  this privacy policy. Other than for promoting our own products and services,
  3E PCB does not sell, rent, or trade our potential customer list with any
  other company for the purpose of telemarketing or other promotional
  activities.
</p>
<p>
  A "User" is a person using the 3E PCB corporate Web site. As long as a User's
  identity remains anonymous, unless the User otherwise consents, 3E PCB may use
  all Personal Data generated in connection with the User's use of this Web
  site, including any communication with 3E PCB or its business units, and to
  transmit or publish such data. 3E PCB may transmit and use any Personal Data
  for 3E PCB internal use and in delivering solutions to both existing and
  potential customers. 3E PCB may use affiliate companies or third parties to
  assist in providing services, and may transmit Personal Data to those third
  parties.
</p>
<h2>What information do we collect and why?</h2>
<p>
  IP Addresses: We may use your IP address (not your e-mail address) to help
  diagnose problems with our server, to administer our Web site, or to gather
  broad demographic information.
</p>
<p>
  Cookies: A cookie is a small data file that certain Web sites write to your
  hard drive when you visit them. A cookie file can contain information, such as
  a user ID, that the site uses to track the pages you've visited, but the only
  personal information a cookie can contain is information you supply yourself.
  A cookie can't read data off your hard disk or read cookie files created by
  other sites.
</p>
<p>
  We may use cookies to enhance the user experience and deliver personalized
  content. Cookies help us to deliver information specific to your interests, to
  eliminate the need to re-enter your password each time you visit our site, or
  to keep track of your purchases. Some parts of this site also may use cookies
  to track user traffic patterns for the purpose of determining the usefulness
  of information supplied to visitors, as well as see how effective our
  navigational structure is in helping users reach that information. 3E PCB does
  not correlate this information with data about individual users, nor does it
  share this information or sell it to any third party. Advertising networks
  that serve ads onto our web site may use their own cookies.
</p>
<p>
  To enhance your experience and minimize errors in our system, we may monitor
  your activity on our website.
</p>
<h2>Online Surveys and Forms</h2>
<p>
  Surveys: From time to time, we may conduct online surveys. Our surveys may ask
  you for your feedback or for demographic information, such as your zip code or
  your industry sector. If the online survey collects Personal Data, we may use
  that data to send you further information.
</p>
<p>
  By completing and submitting a survey, you agree that 3E PCB may contact you
  regarding the topic(s) of the survey, to send or request additional
  information for follow-up purposes, or for other reasons that may arise.
</p>
<p>
  Forms: You may fill out a Contact Us or similar form on this Web site in order
  to access or request additional information. If/when you sign into the Web
  site, fill out a form, and/or download information, you are required by 3E PCB
  to submit your Personal Data or other contact information. 3E PCB adds this
  information to a database in order to build relationships with potential
  customers, business partners, suppliers, and contacts. This information also
  is used to enhance your user experience on the site. By completing and
  submitting a form, you agree that 3E PCB may contact you in order to send or
  request additional information for follow-up purposes or for other reasons
  that may arise.
</p>
<p>
  You can opt out of communications with 3E PCB at any time. For more details,
  refer to the Opt Out Options below
</p>
<h2>Contacting 3E PCB Software</h2>
<p>
  If you provide us with your e-mail or mailing address or contact us by phone,
  mail, fax, or e-mail, 3E PCB may begin communications with you and/or your
  company. However, other than in accordance with this Privacy Policy, we will
  not share your e-mail address with others outside of 3E PCB.
</p>
<p>For more details, check the Opt Out Options below.</p>
<h2>Demographic and User Profile Data</h2>
<p>
  3E PCB may use demographic or user profile data that we collect to tailor your
  Web experience, deliver content that we think may interest you, and display
  information that matches your preferences. We may use this data to gain
  insight into your needs and interests.
</p>
<h2>Links to Other Sites</h2>
<p>
  This site may contain links to other sites. 3E PCB is not responsible for the
  privacy practices or the content of other Web sites. Please refer to the
  policies of the respective site.
</p>
<h2>Opt Out Options</h2>
<p>
  Contact a 3E PCB representative at info@3epcb.com to request that your contact
  information be marked as "Do Not Solicit." A user may choose to opt back in to
  receiving general and promotional communications from 3E PCB at any time.
</p>
<p>
  If you wish to be removed from our registration database, please follow the
  opt-out instructions set forth above.
</p>
<p>
  If you no longer wish to receive other general or promotional e-mails from 3E
  PCB , please follow the opt-out instructions set forth above or within the
  e-mail you receive from 3E PCB.
</p>
