---
layout: layouts/default.njk
title: Quotation
permalink: /engenix-pcb-quotation-automation-software/
eleventyNavigation:
  key: Quotation
  order: 3
---

<p class="lead border-top border-2 pt-2 mt-3">
  Engenix for Quotations revolutionizes the process of generating precise PCB
  pricing by harnessing the power of a comprehensive Engineering Rules
  knowledgebase. This innovative platform empowers customers to create accurate
  quotes efficiently, ensuring that every factor is considered, from base
  pricing to the most intricate design specifications.
</p>
<p class="lead border-bottom border-2 pb-2">
  With features like a Quote mode dedicated app, access to CAM/Pre-CAM data, and
  a User-Defined Pricing Matrix, Engenix streamlines the quotation process.
  Flexibility is further enhanced by the ability to re-use quote data to
  jumpstart the engineering phase. Engenix for Quotations is not just a tool;
  it's a platform for optimized pricing strategies and customer satisfaction.
</p>
<h2 class="fw-bolder ggt">Flexible Pricing Matrix</h2>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/QuotePricingMatrix.jpg"
  alt="PCB Quote Pricing Matrix"
/>
<p>
  Flexibility and configurability are key to calculating and controlling pricing
  to ensure profitability. In the example above, margins are highlighted to
  users to show compliance at-a-glance.
</p>
<h2 class="fw-bolder ggt">Pricing Calculations</h2>
<p>
  Pricing calculations can consider:
  <strong>
    Quantity, Panel Volume, Cost, Yield, Manufacturability, Lead Time, Service
    Level, PCB Class, ITAR, Military Spec, Expidite
  </strong>
  and any other required factor.
</p>
<h2 class="fw-bolder ggt">Detailed Attribute & Cost Analysis</h2>
<p>
  Users can drill down into the factors driving the calculated cost and review
  the characteristics of the PCB.
</p>
<div class="d-flex justify-content-around align-items-start">
  <img
    class="img-fluid mb-3 eee-box-shadow1"
    src="/img/costs.jpg"
    alt="PCB Cost Analysis"
  />
  <img
    class="img-fluid mb-3 eee-box-shadow1"
    src="/img/attributes.jpg"
    alt="PCB Attributes"
  />
</div>
<h2 class="fw-bolder ggt">Tooling, Lot & NRE Charges</h2>
<p>
  Tooling charges are automaically generated based on the Layer Data and PCB
  Attributes. Engenix® Quote provides a detailed breakdown of the charges and
  users can optionally adjust them when negotiating with customers.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/tooling.jpg"
  alt="PCB Quote Tooling & NRE charges"
/>
<h2 class="fw-bolder ggt">Quote Document Report</h2>
<p>
  With the Engenix® custom report builder, Quote documents can be designed to
  meet your specific needs. A PDF File (or other formats) can be automatically
  generated and emailed directly to the customer.
</p>
<p class="mb-3">
  Standard
  <strong>Terms & Conditions</strong>
  are automatically applied for each customer and can be edited as required for
  each Quote.
</p>
<img
  class="d-block mx-auto img-fluid mb-3 eee-box-shadow1"
  src="/img/quotedoc.jpg"
  alt="PCB Quotation Document"
/>
