---
layout: layouts/default.njk
title: Terms of Service | 3E PCB Software
permalink: /3epcb-terms-of-service/
description: Explore our terms of service page to understand the rules and regulations governing the use of our website. Familiarize yourself with our policies for a seamless browsing experience.
---
<p>
  By using 3E PCB Software’s products, software, services or web sites (&quot;3E
  PCB services&quot;), you agree to the following terms and conditions, and any
  policies, guidelines or amendments thereto that may be presented to you from
  time to time, including but not limited to Program Policies and Legal Notices
  (collectively, the &quot;Terms&quot;). We may update the Terms in the future,
  and you will be able to find the most current version of this agreement on
  this page.
</p>
<h2>1. USE OF SERVICES</h2>
<p>
  3E PCB Software LLC, its subsidiaries and affiliated companies, including
  your domain administrator (&quot;3E PCB&quot;) offer 3E PCB Services
  to you, provided that you are of legal age to form a binding contract and are
  not a person barred from receiving services under the laws of the United
  States or other applicable jurisdiction. In order to access certain services,
  you may be required to provide current, accurate identification, contact, and
  other information as part of the registration process and/or continued use of
  3E PCB services. You are responsible for maintaining the confidentiality of
  your account password, and are responsible for all activities that occur under
  your account. You agree to immediately notify 3E PCB of any unauthorized use
  of your password or account or any other breach of security. 3E PCB cannot and
  will not be liable for any loss or damage arising from your failure to provide
  us with accurate information or to keep your password secure.
</p>
<h2>2. APPROPRIATE CONDUCT</h2>
<p>
  You agree that you are responsible for your own conduct and any Content that
  you create, transmit or display while using 3E PCB services and for any
  consequences thereof. You agree to use 3E PCB services only for purposes that
  are legal, proper and in accordance with the Terms and any applicable policies
  or guidelines. You agree that you will not engage in any activity that
  interferes with or disrupts 3E PCB services or servers or networks connected
  to 3E PCB services.<br /><br />In addition to this agreement, your use of
  some specific 3E PCB services is governed by the policies or guidelines
  specific to those services and which are specifically incorporated into this
  agreement.<br /><br />You agree to comply with your company&#39;s data usage
  and privacy policies.<br /><br />Users outside of the United States agree to
  comply with their own local rules regarding online conduct and acceptable
  content, including laws regulating the export of data to and from the United
  States or your country of residence.
</p>
<h2>3. 3E PCB PRIVACY POLICY</h2>
<p>
  For information about our data protection practices, please see our
  <a href="/3epcb-privacy-policy/">Privacy Policy</a>. By using 3E PCB services,
  you acknowledge and agree that 3E PCB may access, preserve, and disclose your
  account information and any Content associated with that account if required
  to do so by law or in a good faith belief that such access preservation or
  disclosure is reasonably necessary to: (a) satisfy any applicable law,
  regulation, legal process or enforceable governmental request, (b) enforce the
  Terms, including investigation of potential violations hereof, (c) detect,
  prevent, or otherwise address fraud, security or technical issues (including,
  without limitation, the filtering of spam), or (d) protect against imminent
  harm to the rights, property or safety of 3E PCB, its users or the public as
  required or permitted by law.<br /><br />You understand that the
  technical processing and transmission of 3E PCB services, including your
  Content, may involve (a) transmissions over various networks; and (b) changes
  to conform and adapt to technical requirements of connecting networks, devices
  or services<br /><br />You also understand and agree that
  your domain administrator may have access to your account and its
  content, and may suspend or terminate your account access and your ability to
  modify your account.
</p>
<h2>4. PROPRIETARY RIGHTS</h2>
<h3>3E PCB&#39;s Rights</h3>
<p>
  You acknowledge and agree that 3E PCB services and any necessary software used
  in connection with 3E PCB services (&quot;Software&quot;) contain proprietary
  and confidential information that is protected by applicable intellectual
  property and other laws and treaties. You further acknowledge and agree that
  Content contained in sponsor advertisements or presented to you through 3E PCB
  services is protected by copyrights, trademarks, service marks, patents or
  other proprietary rights and laws. Except as expressly authorized by 3E PCB or
  other proper third party rights holders, you agree not to modify, rent, lease,
  loan, sell, distribute or create derivative works based on Content, 3E PCB
  services or Software, in whole or in part except as specifically authorized in
  a separate written agreement.<br /><br />Subject to the Terms, 3E PCB
  grants you a personal, non-transferable and non-exclusive right and license to
  use the object code of its Software; provided that you do not (and do not
  allow any third party to) copy, modify, create a derivative work of, reverse
  engineer, reverse assemble or otherwise attempt to discover any source code,
  sell, assign, sublicense, grant a security interest in or otherwise transfer
  any right in the Software, unless such activity is expressly permitted or
  required by law or has been expressly authorized by 3E PCB in writing. You
  agree not to use modified versions of the Software, including (without
  limitation) for the purpose of obtaining unauthorized access to 3E PCB
  services. You agree not to access 3E PCB services by any means other than
  through the interface that is provided by 3E PCB for use in accessing 3E PCB
  services except as specifically authorized in a separate written
  agreement.<br />Except as expressly authorized by 3E PCB you agree not
  to use, copy, imitate, or incorporate any trademark, service mark, trade
  dress, company name, or product name in a way that is likely to cause
  confusion among consumers. You also agree not to remove, obscure, or alter 3E
  PCB&#39;s or any third party&#39;s copyright notice, trademarks, or other
  proprietary rights notices affixed to or contained within or accessed in
  conjunction with or through the 3E PCB services or Software.
</p>
<h3>Your Rights</h3>
<p>
  3E PCB claims no ownership or control over any Content submitted, posted or
  displayed by you on or through 3E PCB services. You or a third party licensor,
  as appropriate, retain all patent, trademark and copyright to any Content you
  submit, post or display on or through 3E PCB services and you are responsible
  for protecting those rights, as appropriate. By submitting, posting or
  displaying Content on or through 3E PCB services which are intended to be
  available to the members of the public, you grant 3E PCB a worldwide,
  non-exclusive, royalty-free license to reproduce, adapt, modify, publish and
  distribute such Content on 3E PCB services for the purpose of displaying,
  distributing and promoting 3E PCB services. 3E PCB reserves the right to
  syndicate Content submitted, posted or displayed by you on or through 3E PCB
  services and use that Content in connection with any service offered by 3E
  PCB. 3E PCB furthermore reserves the right to refuse to accept, post, display
  or transmit any Content in its sole discretion.<br /><br />You represent
  and warrant that you have all the rights, power and authority necessary to
  grant the rights granted herein to any Content submitted.
</p>
<h2>5. SOFTWARE AND AUTOMATIC UPDATES</h2>
<p>
  Your use of any Software provided by 3E PCB will be governed by the Terms and
  any additional terms and conditions of the end user license agreement
  accompanying such Software. 3E PCB Software may automatically report version
  number or other diagnostic information and may automatically download upgrades
  to the Software to update, enhance and further develop 3E PCB services,
  including providing bug fixes, patches, enhanced functions, missing plug-ins
  and new versions.
</p>
<h2>6. POLICIES REGARDING COPYRIGHT AND TRADEMARKS</h2>
<p>
  It is our policy to respond to notices of alleged infringement that comply
  with the United States’ Digital Millennium Copyright Act or other applicable
  law and to terminating the accounts of repeat infringers.<br /><br />Any
  use of 3E PCB&#39;s trade names, trademarks, service marks, logos, domain
  names, and other distinctive brand features must be in compliance with the
  Terms and in compliance with 3E PCB&#39;s then current Brand Feature use
  guidelines, available upon request to 3E PCB.
</p>
<h2>7. PERSONAL NON-COMMERCIAL USE</h2>
<p>
  You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit
  for any commercial purposes, any portion of 3E PCB services, use of 3E PCB
  services, or access to 3E PCB services except as otherwise expressly provided
  in the Terms or as specifically authorized in a separate written agreement.
</p>
<h2>8. MODIFICATIONS TO SERVICE</h2>
<p>
  3E PCB reserves the right at any time and from time to time to modify or
  discontinue, temporarily or permanently, 3E PCB services (or any part thereof)
  with or without notice. You agree that 3E PCB shall not be liable to you or to
  any third party for any modification, suspension or discontinuance of 3E PCB
  services.
</p>
<h2>9. TERMINATION</h2>
<p>
  You may discontinue your use of 3E PCB services at any time. You agree that 3E
  PCB may at any time and for any reason, including a period of account
  inactivity, terminate your access to 3E PCB services, terminate the Terms, or
  suspend or terminate your account. In the event of termination, your account
  will be disabled and you may not be granted access to 3E PCB services, your
  account or any files or other content contained in your account. Sections 10
  (Termination), 13 (Indemnity), 14 (Disclaimer of Warranties), 15 (Limitations
  of Liability), 16 (Exclusions and Limitations) and 19 (including choice of
  law, severability and statute of limitations), of the Terms, shall survive
  expiration or termination.
</p>
<h2>10. LINKS</h2>
<p>
  3E PCB services may provide, or third parties may provide, links to other
  World Wide Web sites or resources. 3E PCB may have no control over such sites
  and resources and you acknowledge and agree that 3E PCB is not responsible for
  the availability of such external sites or resources, and does not endorse and
  is not responsible or liable for any Content, advertising, products, or other
  materials on or available from such sites or resources. You further
  acknowledge and agree that 3E PCB shall not be responsible or liable, directly
  or indirectly, for any damage or loss caused or alleged to be caused by or in
  connection with use of or reliance on any such Content, goods or services
  available on or through any such site or resource.
</p>
<h2>11. INDEMNITY</h2>
<p>
  You agree to hold harmless and indemnify 3E PCB, and its subsidiaries,
  affiliates, officers, agents, employees, advertisers, licensors, suppliers or
  partners, (collectively &quot;3E PCB and Partners&quot;) from and against any
  third party claim arising from or in any way related to your use of 3E PCB
  services, violation of the Terms or any other actions connected with use of 3E
  PCB services, including any liability or expense arising from all claims,
  losses, damages (actual and consequential), suits, judgments, litigation costs
  and attorneys&#39; fees, of every kind and nature. In such a case, 3E PCB will
  provide you with written notice of such claim, suit or action.
</p>
<h2>12. DISCLAIMER OF WARRANTIES</h2>
<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
<p>
  a. YOUR USE OF 3E PCB SERVICES IS AT YOUR SOLE RISK. 3E PCB SERVICES ARE
  PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. TO THE
  MAXIMUM EXTENT PERMITTED BY LAW, 3E PCB AND PARTNERS EXPRESSLY DISCLAIM ALL
  WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING,
  BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
</p>
<p>
  b. 3E PCB AND PARTNERS DO NOT WARRANT THAT (i) 3E PCB SERVICES WILL MEET YOUR
  REQUIREMENTS, (ii) 3E PCB SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR
  ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF 3E PCB
  SERVICES WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS,
  SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH
  3E PCB SERVICES WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE
  SOFTWARE WILL BE CORRECTED.
</p>
<p>
  c. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF 3E PCB
  SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY
  RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF
  DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.
</p>
<p>
  d. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM 3E
  PCB OR THROUGH OR FROM 3E PCB SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY
  STATED IN THE TERMS.
</p>
<h2>13. LIMITATION OF LIABILITY</h2>
<p>
  YOU EXPRESSLY UNDERSTAND AND AGREE THAT 3E PCB AND PARTNERS SHALL NOT BE
  LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
  EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS,
  GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF 3E PCB OR PARTNERS
  HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM: (i) THE
  USE OR THE INABILITY TO USE 3E PCB SERVICES; (ii) THE COST OF PROCUREMENT OF
  SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR
  SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED
  INTO THROUGH OR FROM 3E PCB SERVICES; (iii) UNAUTHORIZED ACCESS TO OR
  ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY
  THIRD PARTY ON 3E PCB SERVICES; OR (v) ANY OTHER MATTER RELATING TO 3E PCB
  SERVICES.
</p>
<h2>14. EXCLUSIONS AND LIMITATIONS</h2>
<p>
  NOTHING IN THIS AGREEMENT IS INTENDED TO EXCLUDE OR LIMIT ANY CONDITION,
  WARRANTY, RIGHT OR LIABILITY WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED.
  SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR
  CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE
  CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR
  INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THE ABOVE LIMITATIONS
  IN SECTIONS 14 AND 15 WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU
  AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY
  LAW.
</p>
<h2>15. NO THIRD PARTY BENEFICIARIES</h2>
<p>
  You agree that, except as otherwise expressly provided in the Terms, there
  shall be no third party beneficiaries to the Terms.
</p>
<h2>16. NOTICE</h2>
<p>
  You agree that 3E PCB may provide you with notices, including those regarding
  changes to the Terms, by email, regular mail, or postings on 3E PCB
  services.
</p>
<h2>17. GENERAL INFORMATION</h2>
<h3>Entire Agreement</h3>
<p>
  The Terms (including any policies, guidelines or amendments that may be
  presented to your form time to time such as Program Policies and Legal
  Notices) constitute the entire agreement between you and 3E PCB and govern
  your use of 3E PCB services, superceding any prior agreements between you and
  3E PCB for the use of 3E PCB services. You also may be subject to additional
  terms and conditions that may apply when you use or purchase certain other 3E
  PCB services, affiliate services, third-party content or third-party software.
</p>
<h3>Choice of Law and Forum</h3>
<p>
  The Terms and the relationship between you and 3E PCB shall be governed by the
  laws of the country of The USA without regard to its conflict of law
  provisions. You and 3E PCB agree to submit to the personal and exclusive
  jurisdiction of the courts located there.
</p>
<h3>Waiver and Severability of Terms</h3>
<p>
  The failure of 3E PCB to exercise or enforce any right or provision of the
  Terms shall not constitute a waiver of such right or provision. If any
  provision of the Terms is found by a court of competent jurisdiction to be
  invalid, the parties nevertheless agree that the court should endeavor to give
  effect to the parties&#39; intentions as reflected in the provision, and the
  other provisions of the Terms remain in full force and effect.
</p>
<h3>Statute of Limitations.</h3>
<p>
  You agree that regardless of any statute or law to the contrary, any claim or
  cause of action arising out of or related to use of 3E PCB services or the
  Terms must be filed within one (1) year after such claim or cause of action
  arose or be forever barred.
</p>
<p>
  The section headings in the Terms are for convenience only and have no legal
  or contractual effect.
</p>
